{% extends "base.html.twig" %}

{% block body %}
    <div class="container col-md-6 mt-5">
        <div class="row">
           
            <div class="col">
                <h1>{{category.name}}</h1>
                <h2>Description: {{category.description}}</h2>
                
            </div>
        </div>
    </div>
{% endblock %}