{% form_theme categoryform 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}
{% block body %}
<div class="container col-md-5 mt-5">
<h1 class="text text-success">Edit category</h1>
   {{ form (categoryform) }}
</div>
{% endblock %}